<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/portafolio-oficial/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio | Gabriel Aedo</title>
		<!-- Tipografía y tema -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap" rel="stylesheet">
		<meta name="theme-color" content="#0f0a2a" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

	html{
		scroll-behavior: smooth;
	}

	body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
  		font-family: 'Onest', sans-serif;		
		color: white;
	}
</style>
